In [ ]:
import pandas as pd

# Load dataset
df = pd.read_csv("age_interest_career_dataset.csv")

# View structure
print(df.head())
print(df.info())

   gender  age age_group  attention_span  creativity_score  logical_reasoning  \
0    Male   11      9-12               4                 4                  6
1  Female    8       5-8               7                 1                  7
2    Male   17     16-18               3                 2                 10
3  Female   15     13-15               6                 1                  7
4  Female   12      9-12               2                 5                 10

   verbal_intelligence  visual_intelligence  social_skills  motor_skills  ...  \
0                    4                    7              3             5  ...
1                   10                   10              5             2  ...
2                   10                    5              9             3  ...
3                    3                    3              2             9  ...
4                   10                    7             10             7  ...

   Math_Interest  Computer_Games  Social_Media_Usage  Technology_Interest  \
0            7.0             NaN                 NaN                  NaN
1            NaN             NaN                 NaN                  NaN
2            NaN             NaN                 NaN                  NaN
3            NaN             2.0                 7.0                  3.0
4            6.0             NaN                 NaN                  NaN

   Career_Goals  University_Choices  Future_Planning         primary_interest  \
0           NaN                 NaN              NaN                  Science
1           NaN                 NaN              NaN                  Animals
2           9.0                 9.0              1.0  Artificial Intelligence
3           NaN                 NaN              NaN                   Coding
4           NaN                 NaN              NaN                   Nature

   secondary_interest       predicted_job
0             Drawing    Graphic Designer
1             Drawing    Animal Caretaker
2          Psychology         AI Engineer
3              Sports  Software Developer
4               Dance       Choreographer

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   gender                         100 non-null    object
 1   age                            100 non-null    int64
 2   age_group                      100 non-null    object
 3   attention_span                 100 non-null    int64
 4   creativity_score               100 non-null    int64
 5   logical_reasoning              100 non-null    int64
 6   verbal_intelligence            100 non-null    int64
 7   visual_intelligence            100 non-null    int64
 8   social_skills                  100 non-null    int64
 9   motor_skills                   100 non-null    int64
 10  Fairy_Tale_Interest            27 non-null     float64
 11  Motor_Skills_(Group Specific)  27 non-null     float64
 12  Color_Cards                    27 non-null     float64
 13  Reading_Books                  28 non-null     float64
 14  Science_Knowledge              28 non-null     float64
 15  Math_Interest                  28 non-null     float64
 16  Computer_Games                 18 non-null     float64
 17  Social_Media_Usage             18 non-null     float64
 18  Technology_Interest            18 non-null     float64
 19  Career_Goals                   27 non-null     float64
 20  University_Choices             27 non-null     float64
 21  Future_Planning                27 non-null     float64
 22  primary_interest               100 non-null    object
 23  secondary_interest             100 non-null    object
 24  predicted_job                  100 non-null    object
dtypes: float64(12), int64(8), object(5)
memory usage: 19.7+ KB
None

In [ ]:
df.isnull()

,gender,age,age_group,attention_span,creativity_score,logical_reasoning,verbal_intelligence,visual_intelligence,social_skills,motor_skills,...,Math_Interest,Computer_Games,Social_Media_Usage,Technology_Interest,Career_Goals,University_Choices,Future_Planning,primary_interest,secondary_interest,predicted_job
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,True,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
97,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,False,False,False
99,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

gender                            0
age                               0
age_group                         0
attention_span                    0
creativity_score                  0
logical_reasoning                 0
verbal_intelligence               0
visual_intelligence               0
social_skills                     0
motor_skills                      0
Fairy_Tale_Interest              73
Motor_Skills_(Group Specific)    73
Color_Cards                      73
Reading_Books                    72
Science_Knowledge                72
Math_Interest                    72
Computer_Games                   82
Social_Media_Usage               82
Technology_Interest              82
Career_Goals                     73
University_Choices               73
Future_Planning                  73
primary_interest                  0
secondary_interest                0
predicted_job                     0
dtype: int64

In [ ]:
df.isnull().sum().sum()

900

In [ ]:
# Fill numeric columns with median
df.fillna(df.median(numeric_only=True), inplace=True)

# Fill categorical columns with mode
for col in df.select_dtypes(include="object").columns:
    df[col].fillna(df[col].mode()[0], inplace=True)

C:\Users\Mehvish\AppData\Local\Temp\ipykernel_3520\4107623992.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [ ]:
df.isnull().sum().sum()

0

In [ ]:
X = df.drop("predicted_job", axis=1)
y = df["predicted_job"]

In [ ]:
# Convert all categorical columns in X
X_encoded = pd.get_dummies(X)

# Encode target (if it's a string like 'Games', 'Nature' etc.)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_encoded = le.fit_transform(y)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_encoded, y_encoded, test_size=0.2, random_state=42)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(x_train, y_train)
from sklearn.metrics import classification_report, accuracy_score

y_pred = knn.predict(x_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))
# Import libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt
# Apply Logistic Regression
model = LogisticRegression(max_iter=1000)  # increase max_iter if convergence warning
model.fit(x_train, y_train)
# Apply Logistic Regression
model = LogisticRegression(max_iter=1000)  # increase max_iter if convergence warning
model.fit(x_train, y_train)
#  predictions
y_pred = model.predict(x_test)

#  Evaluation
print("🔍 Accuracy:", accuracy_score(y_test, y_pred))
print("📊 Classification Report:\n", classification_report(y_test, y_pred))

#  Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
plt.figure(figsize=(10, 6))
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues',
            xticklabels=le.classes_, yticklabels=le.classes_)
plt.xlabel("Predicted")
plt.ylabel("Actual")
plt.title("Confusion Matrix")
plt.show()